<% provide(:page_title, 'Help') %>
<h1><%= t(:main_app_title)%> | <%= yield(:page_title) %></h1>
<p>
  Get help on the Ruby on Rails Tutorial at the
  <a href="http://railstutorial.org/help">Rails Tutorial help page</a>.
  To get help on this sample app, see the
  <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>