<li class="row">
    <div class="col-md-3"><%= link_to user.name, user %></div>
  <% if current_user.admin? %>
    <div class="col-md-3">|  <%= link_to titleize(t(:edit)), edit_user_path(user) %></div>
    <% unless current_user?(user) %>
        <div class="col-md-3">|  
            <%= link_to titleize(t(:destroy)), user, method: :delete, data: { confirm: titleize(t(:are_you_sure)) } %>
        </div>
    <% end %>
  <% end %>
</li>