<% provide(:page_title, titleize(t(:users_index))) %>
<div class="page-header">
    <h1><%= titleize(t(:users_index))%></h1>
</div>
<div class="well">
<div class="row">
  <div class="col-md-6">
      <div class="form-group">
         <div class="col-sm-12">
             <%= will_paginate %>
         </div>
      </div>
  </div>

    <ul class="people">
      <%= render @users %>
    </ul>

<div class="row">
  <div class="col-md-6">
      <div class="form-group">
         <div class="col-sm-12" style="margin-left: 20px">
             <%= will_paginate %>
         </div>
      </div>
  </div>
</div>
</div>
