<% provide(:page_title, titleize(t(:edit_book))) %>
<h1><%= titleize(t(:edit_book)) %></h1>

<%= render 'form' %>

<%= link_to titleize(t(:show)), @book %> |
<%= link_to titleize(t(:back)), books_path %>
