<% provide(:page_title, titleize(t(:add_book))) %>
<div class="well">
<div class="page-header">
    <h1><%= titleize(t(:add_book))%></h1>
</div>

<%= render 'form' %>

<%= link_to titleize(t(:back)), books_path %>
</div>
